body
{
background-color:#000000 ;        
}
.center
{
position:fixed;
top:7.6cm;
right:5cm;
width:70%;
background-color:#333;
border:2px solid;
border-radius:25px;
}
p
{
font-family:Arial,Helvetica,sans-serif;
padding:10px;
color:#FFF
;
font-weight:bold;
}
img
{
width:800px;
height:100px;
position:fixed;
top:4.9cm;
right:10cm;
}
a
{
  color:#FFF;
  font-style:italic;
}